.about-block {
    height: 720px;
    background-color: $color-additional;

    .row {
        height: 100%;
        justify-content: flex-end;
        .about-left {
            height: 720px;
            max-width: calc(50vw);
            position: absolute;
            left: 0;
            padding-left: 0;
            padding-right: 64px;
            .img-fluid {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .about-right {
            display: flex;
            flex: 0.5 0 0;
            position: relative;
            right: 0;
            justify-content: center;
            

            .about-header-small {
                color: white;
            }

            .about-text-wrapper {
                display: flex;
                flex-direction: column;
                position: absolute;
                max-width: 599px;
                top: 50%;
                transform: translateY(-50%);
                color: white;
                align-items: flex-start;

                .carousel-slide-header {
                    font-family: $font-additional;
                    font-size: 60px;
                    font-weight: 600;
                    margin-bottom: 44px;
                }

                .about-text {
                    max-width: 100%;
                    margin-bottom: 72px;
                }

                .about-links-wrapper {
                    width: 100%;
                    display: flex;
                    

                    .btn-secondary {
                        border-color: white;

                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .about-right {
        flex: 1 0 0 !important;
        .about-text-wrapper{
            width: calc(100% - 40px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
            background-color: $color-secondary-w-opacity;
            color: black !important;
            h2 {
                color: black !important;
            }
            .btn {
                border-color: black !important;
                color: black ;
            }
        }
    }
}