.contact-block {
    padding: 60px 0;
    color: white;
    background-color: white;
    position: relative;
    z-index: 1;
    .row {
        display: flex;
        justify-content: center;

        .contact-content-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            background-color: $color-additional;
            padding: 110px 120px;

            .contact-content-left {
                margin-right: 64px;
                
                h3 {
                    font-size: 40px;
                    margin-bottom: 0;
                }
            }
            .contact-content-right {
                .btn {
                    color: $color-additional;
                    border-color: white;
                    background-color: white;
                }
            }
        }
    }

}