footer {
    background-color: black;
    padding: 60px 0;
    color: white;
    position: relative;
    z-index: 1;

    .row {
        display: flex;
        justify-content: center;

        .footer-upper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 0 62px 0;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: white;
            align-items: center;

            .footer-upper-right,
            .footer-upper-left {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    margin: 0 24px 0 0;
                }

                .btn {
                    border-color: $color-additional;
                    background-color: $color-additional;
                }
            }

            .footer-upper-left {
                margin-right: 32px;
                height: 19px;

                img {
                    height: 100%;
                }

            }
        }

        .footer-middle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 62px 0 120px 0;

            li {
                list-style: none;
                display: inline;
                font-size: 14px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            .footer-links-left {
                padding: 0;
                text-align: left;

                li {
                    margin-right: 48px;
                }
            }

            .footer-links-right {
                padding: 0;
                text-align: right;

                li {
                    margin-left: 48px;
                }
            }
        }

        .footer-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            .footer-bottom-right {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin: 0;

                img {
                    padding-left: 16px;
                    object-fit: none;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .footer-upper {
        flex-direction: column !important;

        .footer-upper-left {
            margin-bottom: 24px;

        }

        .footer-upper-right {
            justify-content: space-between;
        }
    }

    .footer-links-left {
        display: flex;
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column !important;
    }
}