.carousel {

    .carousel-inner {
        position: relative;
        height: 737px;
        background-color: $color-primary;

        .carousel-item {
            height: 100%;

            .row {
                height: 100%;

                .carousel-slide-left {
                    display: flex;
                    justify-content: right;
                    .carousel-text-wrapper {
                        
                        position: absolute;
                        width: 599px;
                        top: 50%;
                        transform: translateY(-50%);

                        .carousel-slide-header {
                            font-family: $font-additional;
                            font-size: 60px;
                            font-weight: 600;
                            margin-bottom: 44px;
                        }

                        .carousel-slide-text {
                            width: 489px;
                            margin-bottom: 72px;
                        }

                        .carousel-links-wrapper {
                            width: 489px;
                            display: flex;
                            justify-content: space-between;
                            .btn-primary {
                                background-color: $color-additional;
                                border-color: $color-additional;
                            }

                            .btn-secondary {
                                border-color: $color-additional;
                                color: $color-additional;
                            }
                        }
                    }
                }

                .carousel-slide-right {
                    
                    .img-fluid {
                        margin-left: 32px;    
                        height: 100%;
                        object-fit: cover;
                    }
                }

            }
        }
    }

    .carousel-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color-secondary;
        opacity: 1;
        
        .carousel-prev,
        .carousel-next {
            height: 96px;
            width: 96px;
            border-style: none;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .carousel-next::before, .carousel-prev::before {
            content: url("../../img/icons/arrow.png");
            object-fit: none;
            height: 48px;
            width: 48px;
        }

        .carousel-prev::before {
            transform: rotate(180deg);
        }

    }

}