.hero-block {
    position: relative;
    z-index: 0;

    .carousel {
        height: 737px;
        width: calc(100% + ((100vw - 100%)/2));
        background-color: $color-primary;
        position: unset;

        .carousel-inner {
            height: 100%;

            .carousel-item {
                height: 100%;

                .row {
                    height: 100%;

                    .carousel-slide-left {
                        display: flex;
                        flex: 0.5 0 0;
                        justify-content: center;
                        z-index: 1;

                        .carousel-text-wrapper {
                            position: absolute;
                            max-width: 599px;
                            top: 50%;

                            transform: translateY(-50%);

                            .carousel-slide-header {
                                font-family: $font-additional;
                                font-size: 60px;
                                font-weight: 600;
                                margin-bottom: 44px;
                            }

                            .carousel-slide-text {
                                max-width: 489px;
                                margin-bottom: 72px;
                            }

                            .carousel-links-wrapper {
                                max-width: 489px;
                                display: flex;
                                justify-content: space-between;

                                .btn-primary {
                                    background-color: $color-additional;
                                    border-color: $color-additional;
                                }

                                .btn-secondary {
                                    border-color: $color-additional;
                                    color: $color-additional;
                                }
                            }
                        }
                    }

                    .carousel-slide-right {

                        position: absolute;
                        height: 100%;
                        width: calc(50vw);
                        right: 0;
                        padding-right: 0;
                        margin-right: 0;
                        padding-left: 64px;

                        .img-fluid {

                            height: 100%;
                            object-fit: cover;
                            width: calc(50vw);
                        }
                    }

                }
            }
        }

        .carousel-buttons {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $color-secondary-w-opacity;
            z-index: 3;

            .carousel-prev,
            .carousel-next {
                height: 96px;
                width: 96px;
                border-style: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: none;
                cursor: pointer;
            }

            .carousel-next::before,
            .carousel-prev::before {
                content: url("../img/icons/arrow.png");
                object-fit: none;
                height: 48px;
                width: 48px;
            }

            .carousel-prev::before {
                transform: rotate(180deg);
            }

        }

    }
}

@media(max-width: 992px) {
    
     
  
    .carousel-item {
        margin: 0;
        .row {
            padding: 0;
            margin: 0;
            .carousel-slide-left {
                flex: 1 0 0 !important;
                flex-direction: column;
                align-items: center;
                padding: 0;

                .carousel-text-wrapper {
                    width: calc(100% - 40px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 15px;
                    background-color: $color-secondary-w-opacity;

                    .carousel-slide-header {
                        font-size: 36px !important;
                    }

                    .carousel-slide-text {
                        font-size: 14px !important;
                    }

                    .carousel-links-wrapper {
                        flex-direction: column;

                        .btn {
                            margin-bottom: 10px;
                        }
                    }

                }
            }
        }
    }
    .carousel-buttons {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }
}