.navbar {
    background-color: #ffffff !important;
    
    .container-fluid {
        max-width: 1262px;
        height: 72px;
        position: relative;

        .navbar-nav {
            position: absolute;
            right: 0;
            font-family: $font-main;
            font-size: 14px;
            align-items: center;
            li {
                margin-left: 48px;
                .nav-search {
                    transition: all 1s;
                    border-style: none;
                    width: 0px;
                    
                }

                .active {
                    border-bottom: 1px;
                    border-bottom-style: solid;
                    width: 250px;
                }
            }
        }
    }
}