@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-10%)
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    background-color: #ffffff !important;
    min-height: 72px;
    z-index: 10;
    .container-fluid {
        max-width: 1262px;
        
        position: relative;

        .navbar-nav {
            position: absolute;
            right: 0;
            font-family: $font-main;
            font-size: 14px;
            align-items: center;

            li {
                display: flex;
                flex-direction: row;
                margin-left: 48px;

                #nav-search-icon {
                    cursor: pointer;
                }

                .nav-search {
                    
                    transition: all 1s;
                    border-style: none;
                    border-bottom-style: solid;
                    border-bottom-color: #ffffff;
                    width: 0px;
                }

                .active {
                    border-bottom: 1px;
                    border-bottom-style: solid;
                    width: 250px;
                }

            }

            .dropdown-menu {
                animation: 0.2s slidedown;
                border-style: none;
                border-radius: 0;
                li {
                    margin-left: 0;
                    a:hover {
                        background-color: $color-secondary;
                    }
                }
            }

        }
    }
    
}

@media(max-width: 992px) {
    .navbar-nav{
        margin-top: 20px;
        width: 100vw;
        padding: 20px;
        background-color: white;
        animation: 0.2s slidedown;
        
        .nav-item, .nav-item .dropdown {
            display: flex;
            flex-direction: column !important;
            text-align: center;
            margin-left: 0 !important;
        }
        .search {
            margin-left: 0 !important;
        }
    }
}